.underline{
    text-decoration: underline;
    display: inline;
}
.container-quiz-11182021 {
    width: 100%;
    display : flex;
    justify-content: center;
    direction : ltr;
}

div, span, h1, h2, h3, h4, h5, h6, p, code, small, strike, strong, sub, sup, b, u, i {
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    margin: 0;
    padding: 0;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
    font: normal 0.9em/1em "Helvetica Neue", Helvetica, Arial, sans-serif;
}
strong {
    font-weight: 700;
}
#frame {
    max-width: 620px;
    width: auto;
    border: 10px solid gold;
    background: #fff;
    padding: 10px;
    margin: 3px;
    text-align: center;
}
h1 {
    font: normal bold 2em/1.8em "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
    border-bottom: 1px solid #999;
    padding: 0;
    width: auto 
}
h2 {
    font: normal 1.3em/1.2em "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 0;
    text-align: center;
    margin: 20px 0;
}
p.pager {
    margin: 5px 0 5px;
    font: bold 1em/1em "Helvetica Neue", Helvetica, Arial, sans-serif;
    color:blue;
    text-align: center;
 
}
img.question-image {
    display: block;
    max-width: 250px;
    margin: 10px auto;
    border: 1px solid #ccc;
    width: 100%;
    height: auto;
    background-color: burlywood;
    }
    #question {
        font-size: x-large;
        color:crimson;
        background-color: blanchedalmond;
        padding: 10px;
    }
#choice-block {
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
    color:black;
}
#submitbutton {
    background: #009688;
}
#submitbutton:hover {
    background: #7b8da6;
}
#explanation {
    margin: 0 auto;
    padding: 20px;
    width: 75%;
}
.choice-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8px auto;
    padding: 10px 0;
    border: 1px solid #666;
    cursor: pointer;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    height: 50px;
    font-size: 1.5rem;
}
.videoWrapper {
 position: relative;
 padding-bottom: 56.25%;
 /* 16:9 */
 padding-top: 25px;
 height: 0;
}

.videoWrapper iframe {
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
}
 aside .social-static.social li {
   width: calc((100% - 4px) / 3);
}
 .postitle{
    border: 0px solid black;
    text-align: center;
    border-radius: 1px;
    background-color: #FFEFD5;
    font-size: x-large;
    font-weight: bolder;
    border-right: 10px solid black;
    border-left: 10px solid black;
    padding: 8px;
    direction: rtl;
      }
  .download{
    text-align: center;
    border: 0px solid black;
    padding: 3px;
    font-size: larger;
    font-weight: bolder;
    color: blue;
    margin-right: 35%;
    margin-left: 35%;
    background-color: pink;
    box-shadow: 3px 3px yellow;
  }
  .maintitle{
    text-align: center;
    padding: 10px;
    border: 4px solid black;
    font-size: x-large;
    font-weight: bolder;
    background-color: yellow;
    direction: rtl;
  }
  .instructions{
    border:2px solid black;
    text-align:center; 
    padding:10px;
    font-size:x-large;
    font-weight:bolder;
    background-color:tomato; 
    color:#FFFFFF;
    direction: rtl;
  }
